<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
      //$(document).on("click", "[id^=btn_epic]", function (e) {

          //attach epic to epic_sortable

         // e.preventDefault();

      //});
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
